<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->
            
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->

               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Tentang Kami</h2>
                           </div>
                        </div>
                     </div>                     
                     <!-- graph -->                      
                     <div class="row column1">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>DARA (Dashboard Analisis Respons dan Aspirasi)</h2>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content" style="padding: 20px;">

                                          <p>DARA adalah sistem informasi berbasis web yang dirancang untuk menyempurnakan pengelolaan data pengaduan masyarakat dan ulasan digital. Selain memanfaatkan data pengaduan yang telah ada, DARA juga mengintegrasikan data ulasan dari Google Maps. Semua data ini dikelola dalam sebuah database sistem informasi yang memungkinkan proses pengolahan dan analisis data dilakukan dengan lebih mudah, cepat, dan terstruktur.</p>
                                          <p>DARA memiliki kemampuan untuk memberikan laporan yang lebih beragam dan informatif kepada para pemangku kepentingan. Dengan memanfaatkan teknologi seperti analisis sentimen dan analisis topik berbasis pembelajaran mesin, data dapat diolah menjadi informasi yang relevan untuk mendukung pengambilan keputusan strategis dalam peningkatan pelayanan. Misalnya, data pengaduan dapat diklasifikasikan berdasarkan topik seperti pelayanan, administrasi, komunikasi, dan fasilitas, serta dianalisis sentimennya (positif, netral, atau negatif).</p>
                                          <p>Aplikasi DARA memiliki sejumlah keunggulan dibandingkan sistem pelaporan tradisional. Salah satunya adalah kemampuannya dalam memprediksi topik dan sentimen secara otomatis menggunakan pembelajaran mesin. Fitur ini memungkinkan pengguna memahami fokus utama dari pengaduan atau ulasan tanpa harus memilah data secara manual, sehingga proses analisis menjadi lebih efisien. Selain itu, aplikasi ini juga dilengkapi dengan fitur rekomendasi solusi yang dihasilkan dari analisis riwayat pengaduan sebelumnya, memberikan panduan berbasis data untuk menyelesaikan masalah serupa di masa mendatang. Data yang telah diolah disajikan dalam bentuk visualisasi interaktif yang ditampilkan secara real-time, memudahkan pengguna untuk memahami pola dan tren data dengan cepat dan akurat.</p>
                                          <p>Dengan adanya DARA, RSUD Kota Mataram diharapkan dapat mengoptimalkan pengelolaan data pengaduan dan ulasan masyarakat. Informasi yang dihasilkan dapat digunakan untuk meningkatkan kualitas pelayanan secara berkelanjutan, sehingga memenuhi harapan masyarakat sekaligus memenuhi standar yang diamanatkan oleh peraturan perundang-undangan. DARA menjadi langkah strategis dalam mendukung pelayanan kesehatan yang lebih responsif, transparan, dan akuntabel.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>                     
                     <!-- end graph -->

                     
                     <br>
                     <!--
                     <div class="row column1">
                        <div class="col-md-12 col-lg-12">
                           <div class="full purple_bg margin_bottom_30">
                              <div class="info_people">
                                 <div class="p_info_img">
                                    
                                    <img src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="#" />
                                 </div>
                                 <div class="user_info_cont">
                                    <h4 class="orange_color">Dashboard Analisis Respons dan Aspirasi</h4>
                                    <p class="p_status">Versi 2.0</p>                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->

                     
                     <!-- row -->
                     <!-- 
                     <div class="row column1">     
                        <div class="col-md-12 col-lg-4">
                           <div class="full white_shd margin_bottom_30">
                              <div class="info_people">
                                 <div class="p_info_img">
                                    <img src="{{ url_for('static', filename='images/layout_img/msg2.png') }}" alt="#" />
                                 </div>
                                 <div class="user_info_cont">
                                    <h4>Ratih Diyan Pratiwi</h4>
                                    <p>pelayanan.dara@gmail.com</p>
                                    <p class="p_status">Business Process Analyst</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full white_shd margin_bottom_30">
                              <div class="info_people">
                                 <div class="p_info_img">
                                    <img src="{{ url_for('static', filename='images/layout_img/msg3.png') }}" alt="#" />
                                 </div>
                                 <div class="user_info_cont">
                                    <h4>Wiwiek Yuliandari</h4>
                                    <p>developer@gmail.com</p>
                                    <p class="p_status">Dokumentasi</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full white_shd margin_bottom_30">
                              <div class="info_people">
                                 <div class="p_info_img">
                                    <img src="{{ url_for('static', filename='images/layout_img/msg4.png') }}" alt="#" />
                                 </div>
                                 <div class="user_info_cont">
                                    <h4>Imam Kurniawan</h4>
                                    <p>imamkurniawan.ntb@gmail.com</p>
                                    <p class="p_status">System Analyst & Developer</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->
                     <!-- end row -->
                     
                     <div class="row column1">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h4>Tim pengembangan DARA</h4>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="content" style="padding: 20px;">
                                          <h5>Inisiator</h5>
                                          <li>Ratih Diyan Pratiwi</li>
                                          <li>Wiwiek Yuliandari (wiwiek.yuliandari@gmail.com)</li>
                                          <li>Imam Kurniawan (imamkurniawan.ntb@gmail.com)</li> <br>
                                          <!--
                                          <h5>Tim Humas</h5>
                                          <li>Person 21</li>
                                          <li>Person 2</li> <br>
                                          <h5>Simrs</h5>
                                          <li>orang 1</li>
                                          <li>orang 2</li>
                                       -->
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="content" style="padding: 20px;">
                                          <h5>Informasi layanan</h5>
                                          <br>
                                          <span class="purple_color">Layanan Aplikasi DARA - Humas RSUD Kota Mataram</span> <br>
                                          Jl. Bung Karno No.3, Pagesangan Tim., Kec. Mataram, Kota Mataram, Nusa Tenggara Barat. 83127
                                          <br><br>
                                          <i class="fab fa-whatsapp green_color"></i> &nbsp; 081805799484 <br>
                                          <i class="fab fa-google-plus red_color"></i>&nbsp; pelayanan.dara@gmail.com <br>
                                          <i class="fab fa-facebook-f blue1_color"></i>&nbsp;&nbsp; https://www.facebook.com/people/DARA-Dashboard/61577938261328 <br>
                                          
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{ url_for('static', filename='js_chart/chart_overview.js') }}"></script>
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>