<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="/"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{ session['status'] }}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4><a href="/" class="yellow_color">DARA Dashboard</a></h4>
                  <ul class="list-unstyled components">                     
                     <li><a href="overview"><i class="fa fa-dashboard orange_color"></i> <span>Overview</span></a></li>
                     <li class="active">
                        <a href="#pengaduan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-commenting yellow_color"></i> <span>Pengaduan</span></a>
                        <ul class="collapse list-unstyled" id="pengaduan_page">
                           <li>
                              <a href="pengaduan">> <span>Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="persons_pengaduan">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places_pengaduan">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#ulasan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map blue1_color"></i> <span>Ulasan</span></a>
                        <ul class="collapse list-unstyled" id="ulasan_page">
                           <li>
                              <a href="filter_ulasan">> <span>Data Ulasan</span></a>
                           </li>
                           <li>
                              <a href="persons">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li> 
                        <a href="#laporan_interaktif"data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-line-chart yellow_color"></i> <span>Laporan Interaktif</span></a>
                        <ul class="collapse list-unstyled" id="laporan_interaktif">
                           <li>
                              <a href="analisis_topik_ulasan">> <span>Analisis Topik Ulasan</span></a>
                           </li>
                           <li>
                              <a href="monev_pengaduan_tahunan">> <span>Monev Pengaduan Tahunan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#manajemen_data" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-database purple_color2"></i> <span>Manajemen Data</span></a>
                        <ul class="collapse list-unstyled" id="manajemen_data">
                           <li>
                              <a href="entry_pengaduan">> <span>Entry Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="entry_ulasan">> <span>Entry Data Ulasan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#bantuan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond green_color"></i> <span>Bantuan</span></a>
                        <ul class="collapse list-unstyled" id="bantuan">
                           <li>
                              <a href="about">> <span>Tentang Kami</span></a>
                           </li>
                           <li>
                              <a href="dokumentasi">> <span>Dokumentasi</span></a>
                           </li>
                           <li>
                              <a href="faq">> <span>FAQ</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="settings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                     <li><a href="logout"><i class="fas fa-sign-out-alt red_color"></i> <span>Logout</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="/"><img class="img-responsive" src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!--
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              -->
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /><span class="name_user">{{ session['user'] }}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Laporan > Analisis Topik Ulasan</h2>
                           </div>
                        </div>
                     </div>
                     
                     <!-- chart -->

                     <div class="row column1">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Topik Ulasan</h5>
                                 <canvas id="my-Topic-Chart" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Komposisi Ulasan</h5>
                                 <canvas id="my-Komposisi-Chart" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen</h5>
                                 <canvas id="my-Sentiment-Total-Review-Chart" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                      </div>
                     
                      <!-- row -->
                     <div class="row column2">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Topik Ulasan Pertahun</h5>
                                 <canvas id="my-Annual-Topic-Chart" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>            
                     <!-- </div> -->
                     <!-- end row -->

                     <!-- row -->
                     <!-- <div class="row column3"> -->
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                    <h5>Analisis Sentimen</h5>
                                    <!--
                                    <select id="topik" name="topik" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                       <option value="semua">Semua Topik</option>
                                       <option value="pelayanan">Pelayanan</option>
                                       <option value="fasilitas">Fasilitas</option>
                                       <option value="administrasi">Administrasi</option>
                                       <option value="komunikasi">Komunikasi</option>
                                       <option value="umum">Umum</option>
                                    </select>
                                    <button class="btn btn-primary" onclick="updateChart()"><i class="fas fa-search"></i> Filter Ulasan </button>
                                    -->
                                    <canvas id="my-Annual-Sentiment-Chart" style="margin-top: 20px; width: 100%; height: 200px;"></canvas>


                              </div>
                           </div>
                        </div>            
                     </div>
                     <!-- end row -->

                     <!-- row -->
                     <div class="row column3">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Untuk Topik Pelayanan</h5>
                                 <canvas id="my-Annual-Sentiment-Chart-Pelayanan" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>            
                     <!-- </div> -->
                     <!-- end row -->

                     <!-- row -->
                     <!-- <div class="row column3"> -->
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Untuk Topik Fasilitas</h5>
                                 <canvas id="my-Annual-Sentiment-Chart-Fasilitas" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>            
                     </div>
                     <!-- end row -->

                     <!-- row -->
                     <div class="row column3">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Untuk Topik Administrasi</h5>
                                 <canvas id="my-Annual-Sentiment-Chart-Administrasi" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>            
                     <!-- </div> -->
                     <!-- end row -->

                     <!-- row -->
                     <!-- <div class="row column3"> -->
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Untuk Topik Komunikasi</h5>
                                 <canvas id="my-Annual-Sentiment-Chart-Komunikasi" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Untuk Topik Umum</h5>
                                 <canvas id="my-Annual-Sentiment-Chart-Umum" style="margin-top: 20px; height: 200px; width: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                     <!-- end row -->
                                         
                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{ url_for('static', filename='js_chart/chart_analisis_topik_ulasan.js') }}"></script>
      <script>
         let chartInstance = null; // Untuk menyimpan instance chart
     
         async function fetchDataSentiment(topik) {
             const response = await fetch(`/chart_analisis_sentimen_ulasan_pertahun?topik=${topik}`);
             return await response.json();
         }
     
         async function updateChart() {
             const selectedTopik = document.getElementById('topik').value;
             const data = await fetchDataSentiment(selectedTopik);
     
             const colors = [
                 "rgba(92, 93, 92, 0.6)",  // Sentimen netral (biasa)
                 "rgba(247, 6, 6, 0.6)",  // Sentimen negatif
                 "rgba(2, 106, 28, 0.6)"  // Sentimen positif
             ];
     
             const datasets = data.datasets.map((dataset, index) => ({
                 ...dataset,
                 backgroundColor: colors[index % colors.length]
             }));
     
             const canvas = document.getElementById('my-Annual-Sentiment-Chart');
               const ctx = canvas.getContext('2d');

               // Pastikan tinggi dan lebar canvas tetap
               canvas.style.height = "100px"; // Atur tinggi tetap, misalnya 300px
               canvas.style.width = "100%";   // Lebar penuh

             
     
             // Jika chart sudah ada, hapus dulu
             if (chartInstance) {
                 chartInstance.destroy();
             }
     
             // Buat ulang chart dengan data baru
             chartInstance = new Chart(ctx, {
                 type: 'bar',
                 data: {
                     labels: data.labels, // Label sumbu x (misalnya tahun)
                     datasets: datasets   // Dataset dengan warna
                 },
                 options: {
                     responsive: true,
                     maintainAspectRatio: true, // Nonaktifkan aspek rasio
                     plugins: {
                         legend: {
                             display: true,
                             position: 'right',
                         }
                     },
                     scales: {
                         x: {
                             stacked: true
                         },
                         y: {
                             stacked: true,
                             beginAtZero: true,
                         }
                     }
                 }
             });
         }
     
         // Muat data awal
         
         updateChart();
     </script>
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>