<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
                
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Manajemen Data > <a href="entry_pengaduan">Detail Pengaduan</a> > {{ data[0].pengaduan_id }}</h2>
                           </div>
                        </div>
                     </div>

                     <div class="row column1">
                        <div class="col-md-12">
                           <table class="table table-striped">
                              <tr>
                                 <td style="width: 200px; align-items: center;" class="blue1_color"><b><img src="{{ data[0].thumbnail }}" alt=""></b></td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Status Pengaduan</b></td>
                                 {% if data[0].status_pengaduan == 'Selesai' %}
                                    <td class="green_bg white_color" style="text-align: center;"> <b>PENGADUAN SELESAI</b> </td>
                                 {% elif data[0].status_pengaduan == 'Tolak' %}
                                    <td class="red_bg white_color" style="text-align: center;"> <b>PENGADUAN DITOLAK</b> </td>
                                 {% else %}
                                    <td class="orange_bg white_color" style="text-align: center;"> <b>PENGADUAN DALAM PROSES</b> </td>
                                 {% endif %}
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Nomor Record</b></td>
                                 <td> {{ data[0].record_no }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Kode pengaduan</b></td>
                                 <td>  {{ data[0].pengaduan_id }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Tanggal Pengaduan</b></td>
                                 <td> {{ data[0].tgl_pengaduan }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Nama Pelapor</b></td>
                                 <td> {{ data[0].nama }} </td>
                              </tr>                              
                              <tr>
                                 <td class="purple_color2"><b>Telepon</b></td>
                                 <td> {{ data[0].telepon }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Alamat</b></td>
                                 <td> {{ data[0].alamat }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Sumber Pengaduan</b></td>
                                 <td> {{ data[0].sumber_pengaduan }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Isi Pengaduan</b></td>
                                 <td> {{ data[0].fixed_pengaduan }} </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>URL Pengaduan</b></td>
                                 <td> 
                                    <a href="/lacak_pengaduan?key={{ data[0].token }}" target="_blank" class="blue1_color">{{ LONG_URL }}</a> 
                                 </td>
                                 
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Short URL</b></td>
                                 <td> <a href="{{SHORT_URL}}" target="_blank" class="blue1_color">{{ SHORT_URL }}</a> </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Kirim URL pelacakan pengaduan</b></td>
                                 <td> 
                                    <a href="https://wa.me/{{data[0].telepon}}?text=Pengaduan%20anda%20telah%20kami%20terima,%0Aini%20adalah%20url%20untuk%20melacak%20pengaduan%20anda%0A%0A{{ LONG_URL }}" target="_blank">
                                       <span class="blue1_color">VIA WhatsApp</span>
                                    </a> 

                                 </td>
                              </tr>
                              <tr>
                                 <td class="purple_color2"><b>Proses Pengaduan</b></td>
                                 <td>
                                    <div class="msg_list_main">
                                       <ul class="msg_list">
                                          {% for details in detail %}
                                          <li>
                                             <span>
                                                <!-- <img src="https://cdn-icons-png.flaticon.com/512/219/219988.png" alt=""> -->
                                                {% if details.actor == 'pelapor' %}
                                                   <img src="https://cdn-icons-png.flaticon.com/512/219/219988.png" alt="">
                                                {% elif details.actor == 'unit' %}
                                                   <img src="https://cdn-icons-png.flaticon.com/512/219/219987.png" alt="">
                                                {% else %}
                                                   <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
                                                {% endif %}
                                             </span>
                                             <span>
                                                <span class="name_user">
                                                   {{details.progress_pengaduan}}                                                   
                                                </span>
                                                <span class="green_color">{{ details.status_pengaduan }}</span>    
                                                <p> 
                                                   {{details.keterangan}}
                                                </p>
                                                <span class="time_ago orange_color"> {{details.tgl}} </span>
                                             </span>
                                          </li>
                                          {% endfor %}
                                       </ul>
                                    </div>
                                 </td>
                              </tr>
                              
                              <tr>
                                 <td></td>
                                 <td>
                                    {% if data[0].progress_pengaduan == 'Pengaduan masuk' %}
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='form_verifikasi_humas?revID={{ data[0].pengaduan_id }}&progress={{data[0].progress_pengaduan}}'"><i class="fa fa-check-circle"></i> Verifikasi pengaduan oleh Humas</button>
                                    {% elif data[0].progress_pengaduan == 'Verifikasi humas' and data[0].status_pengaduan != 'Tolak' %}
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='form_teruskan_pengaduan?revID={{ data[0].pengaduan_id }}&progress={{data[0].progress_pengaduan}}'"><i class="fa fa-check-circle"></i> Pengaduan diteruskan ke unit terkait</button>
                                    <button type="button" class="btn btn-primary" onclick="window.location.href='form_penyelesaian_pengaduan?revID={{ data[0].pengaduan_id }}&progress={{data[0].progress_pengaduan}}'"><i class="fa fa-check-circle"></i> Penyelesaian pengaduan</button>
                                    {% elif data[0].progress_pengaduan == 'Diteruskan ke unit terkait' %}                                    
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='form_verifikasi_unit?revID={{ data[0].pengaduan_id }}&progress={{data[0].progress_pengaduan}}'"><i class="fa fa-check-circle"></i> Verifikasi pengaduan oleh Unit</button>
                                    {% elif data[0].progress_pengaduan == 'Verifikasi unit' and data[0].status_pengaduan != 'Tolak' %}                                    
                                    <button type="button" class="btn btn-primary" onclick="window.location.href='form_penyelesaian_pengaduan?revID={{ data[0].pengaduan_id }}&progress={{data[0].progress_pengaduan}}'"><i class="fa fa-check-circle"></i> Penyelesaian pengaduan</button>
                                    {% endif %}
                                 </td>
                              </tr>
                              <tr>
                                 <td> - </td>
                                 <td> </td>
                              </tr>
                              <tr>
                                 <td></td>
                                 <td style="text-align: right;">
                                    <!-- Form dengan konfirmasi JavaScript -->
                                    <form id="deleteForm" action="hapus_pengaduan" method="post">
                                       <input type="hidden" name="recNo" value="{{ data[0].record_no }}">
                                       <input type="hidden" name="revID" value="{{ data[0].pengaduan_id }}">
                                       <button type="button" class="btn btn-primary" onclick="window.location.href='entry_pengaduan'"><i class="fas fa-arrow-circle-left"></i> Kembali</button>
                                       <button type="button" class="btn btn-danger" onclick="confirmDelete()"><i class="fas fa-trash"></i> Hapus Data Pengaduan</button>
                                    </form>
                                 </td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     
                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- JavaScript untuk konfirmasi -->
      <script>
         function confirmDelete() {
         if (confirm("Apakah Anda yakin ingin menghapus data ulasan ini?")) {
            document.getElementById("deleteForm").submit();
         }
         }
      </script>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>