<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->

               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Manajemen Data > Detail Pengaduan</h2>
                           </div>
                        </div>
                     </div>

                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="button_block">
                              <a href="form_entry_pengaduan"><button type="button" class="btn btn-primary"><i class="fa fa-file-o white_color"></i> Pengaduan Baru</button></a>
                              <!--
                              <a href="/download-pengaduan"><button type="button" class="btn cur-p btn-primary"><i class="fa fa-cloud-download"></i> Download File xlsx</button></a>
                              -->
                              <a href="/coba"><button type="button" class="btn btn-danger"><i class="fa fa-code"></i> Prediksi Topik dan Sentimen</button></a>
                           </div>
                           <div style="overflow-x: auto;">
                           <table class="table table-striped">
                              <thead>
                              <tr>
                                <th><b>#Record</b></th>
                                <th><b>Pengaduan ID</b></th>
                                <th><b>Reviewer</b></th>
                                <th><b>Tanggal Pengaduan</b></th>
                                <th><b>Sumber</b></th>
                                <th><b>Progress</b></th>
                                <th><b>Status Pengaaduan</b></th>
                                <th><b>Lihat</b></th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for row in data %}
                                <tr>
                                  <td>{{ row['record_no'] }}</td>
                                  <td>{{ row['pengaduan_id'] }}</td>
                                  <td>{{ row['nama'] }}</td>
                                  <td>{{ row['tgl_pengaduan'] }}</td>
                                  <td>{{ row['sumber_pengaduan'] }}</td>
                                  <td>{{ row['progress_pengaduan'] }}</td>
                                  {% if row['status_pengaduan'] == 'Selesai' %}
                                  <td class="green_bg">
                                  {% elif row['status_pengaduan'] == 'Tolak' %}
                                  <td class="red_bg">
                                  {% else %}
                                  <td class="orange_bg">
                                  {% endif %}
                                    <span class="white_color">{{ row['status_pengaduan'] }}</span>
                                  </td>
                                  <td>
                                    <a href="detail_pengaduan?recNo={{ row['record_no'] }}&revID={{row['pengaduan_id']}}" class="btn"><i class="fas fa-eye green_color"></i> Lihat Pengaduan</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                           </div>
                        </div>
                     </div>
                     
                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>