<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
                
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Manajemen Data > Entry Ulasan</h2>
                           </div>
                        </div>
                     </div>

                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="button_block">
                              <a href="form_entry_ulasan"><button type="button" class="btn cur-p btn-primary"><i class="fa fa-file-o white_color"></i> Ulasan Baru</button></a>
                              <!-- <a href="download-ulasan"><button type="button" class="btn cur-p btn-primary"><i class="fa fa-cloud-download"></i> Download File xlsx</button></a> -->
                              <a href="/coba"><button type="button" class="btn cur-p btn-danger"><i class="fa fa-code"></i> Prediksi Topik dan Sentimen</button></a>
                           </div>
                           <div style="overflow-x: auto;">
                           <table class="table table-striped">
                              <thead>
                              <tr>
                                <th><b>#Record</b></th>
                                <th><b>Reviewer ID</b></th>
                                <th><b>Reviewer</b></th>
                                <th><b>Tanggal Ulasan</b></th>
                                <th><b>Rating</b></th>
                                <th><b>Isi Ulasan</b></th>
                                <th><b>Lihat</b></th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for row in data %}
                                <tr>
                                  <td>{{ row['record_no'] }}</td>
                                  <td>{{ row['reviewer_id'] }}</td>
                                  <td>{{ row['name'] }}</td>
                                  <td>{{ row['tgl_ulasan'] }}</td>
                                  <td>{{ row['rating'] }}</td>
                                  <td>
                                    {% if row['fixed_review'] and row['fixed_review'] is string %}
                                       {{ row['fixed_review'] | truncate(150, True, '...') }}
                                    {% else %}
                                       <span></span>
                                    {% endif %}
                                  </td>
                                  <td>
                                    <a href="detail_ulasan?recNo={{ row['record_no'] }}&revID={{row['reviewer_id']}}" class="btn"><i class="fas fa-eye green_color"></i> Lihat Ulasan</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>                      
                            
                           </div>

                           <div>
                              <nav aria-label="Page navigation">
                                 <ul class="pagination justify-content-center">
                               
                                   <!-- Tombol First -->
                                   {% if page > 1 %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=1) }}">First</a>
                                   </li>
                                   {% else %}
                                   <li class="page-item disabled">
                                     <span class="page-link">First</span>
                                   </li>
                                   {% endif %}
                               
                                   <!-- Tombol Previous -->
                                   {% if page > 1 %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=page-1) }}">Previous</a>
                                   </li>
                                   {% else %}
                                   <li class="page-item disabled">
                                     <span class="page-link">Previous</span>
                                   </li>
                                   {% endif %}
                               
                                   <!-- Halaman sebelumnya -->
                                   {% if page > 1 %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=page-1) }}">{{ page - 1 }}</a>
                                   </li>
                                   {% endif %}
                               
                                   <!-- Halaman aktif -->
                                   <li class="page-item active">
                                     <span class="page-link">{{ page }}</span>
                                   </li>
                               
                                   <!-- Halaman sesudah -->
                                   {% if page < total_pages %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=page+1) }}">{{ page + 1 }}</a>
                                   </li>
                                   {% endif %}
                               
                                   <!-- Tombol Next -->
                                   {% if page < total_pages %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=page+1) }}">Next</a>
                                   </li>
                                   {% else %}
                                   <li class="page-item disabled">
                                     <span class="page-link">Next</span>
                                   </li>
                                   {% endif %}
                               
                                   <!-- Tombol Last -->
                                   {% if page < total_pages %}
                                   <li class="page-item">
                                     <a class="page-link" href="{{ url_for('reviews', page=total_pages) }}">Last</a>
                                   </li>
                                   {% else %}
                                   <li class="page-item disabled">
                                     <span class="page-link">Last</span>
                                   </li>
                                   {% endif %}
                               
                                 </ul>
                               </nav>
                               
                           </div>

                        </div>
                     </div>
                     
                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>