<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}                  
               <!-- end topbar -->
                
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Manajemen Data > Entry Ulasan</h2>
                           </div>
                        </div>
                     </div>

                     <div class="row column1">
                        <div class="col-md-12 col-lg-6">
                           <form action="saveUlasan" method="POST">
                              <table class="table">
                                    <input type="hidden" name="record_no" value="{{ last_record }}"> {{ last_record }}
                                  <tr>
                                      <td style="width: 20%;">Reviewer ID</td>
                                      <td style="width: 5%;text-align: center;">:</td>
                                      <td style="width: 75%;"><input type="number" name="reviewer_id" id="" style="width: 300px;" required></td>
                                  </tr>
                                  <tr>
                                      <td>Thumbnail</td>
                                      <td style="text-align: center;">:</td>
                                      <td><input type="url" name="thumbnail" id="" style="width: 400px;" required></td>
                                  </tr>
                                  <tr>
                                      <td>Name</td>
                                      <td style="text-align: center;">:</td>
                                      <td><input type="text" name="name" style="width: 300px;" required></td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align: top;">Local Guide</td>
                                      <td style="text-align: center; vertical-align: top;">:</td>
                                      <td>
                                          <input type="radio" name="localGuide" value="FALSE" checked> Average Reviewer <br>
                                          <input type="radio" name="localGuide" value="TRUE"> Local Guide <br>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align: top;">Level Guide</td>
                                      <td style="text-align: center; vertical-align: top;">:</td>
                                      <td>
                                          <input type="number" name="levelGuide" id="" style="width: 50px;" placeholder="0">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>Tanggal Ulasan</td>
                                      <td style="text-align: center;">:</td>
                                      <td><input type="datetime-local" name="tgl_ulasan" id="" required></td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align: top;">Rating</td>
                                      <td style="text-align: center; vertical-align: top;">:</td>
                                      <td>                        
                                          <input type="radio" id="5" name="rating" value="5"> ⭐⭐⭐⭐⭐<br>
                                          <input type="radio" id="4" name="rating" value="4"> ⭐⭐⭐⭐<br>
                                          <input type="radio" id="3" name="rating" value="3" checked> ⭐⭐⭐<br>
                                          <input type="radio" id="2" name="rating" value="2"> ⭐⭐<br>
                                          <input type="radio" id="1" name="rating" value="1"> ⭐<br>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align: top;">Isi Ulasan</td>
                                      <td style="text-align: center; vertical-align: top;">:</td>
                                      <td>
                                          <textarea id="reviewContent" name="review" placeholder="Masukkan Isi Ulasan" rows="5" style="width: 400px;" onchange="predictReview()"></textarea>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td style="text-align: right;">
                                          <a href="entry_ulasan" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Batal</a>
                                          <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Simpan</button>                                          
                                      </td>
                                  </tr>
                              </table>                             
                          </form>
                          
                        </div>
                        <div class="col-md-12 col-lg-6">
                           <!-- <button onclick="predictReview()">Prediksi</button> -->
                           <h4>Hasil Prediksi Topik dan Sentimen:</h4>
                           <p id="result"></p>
                        </div>
                     </div>
                     
                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <script>
         function predictReview() {
             let reviewText = document.getElementById("reviewContent").value; // Ambil teks dari textarea
             let url = `/predict?text=${encodeURIComponent(reviewText)}`; // Buat URL API
 
             fetch(url)
                 .then(response => response.json()) // Parsing response JSON
                 .then(data => {
                     // Tampilkan hasil prediksi di dalam div
                     document.getElementById("result").innerHTML = `
                         <p><strong>Teks Input:</strong> ${data.clean_text}</p>
                         <li><strong>Topik:</strong> ${data.topic.predicted} (${data.topic.proba}%)</li>
                         <li><strong>Sentimen:</strong> ${data.sentiment.predicted} (${data.sentiment.proba}%)</li>
                         <li><strong>Jenis:</strong> ${data.jenis.predicted} (${data.jenis.proba}%)</li>
                     `;
                 })
                 .catch(error => {
                     console.error("Error:", error);
                     document.getElementById("result").innerHTML = "<p style='color: red;'>Gagal mengambil hasil prediksi.</p>";
                 });
         }
     </script>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>