<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Laporan > Monitoring dan Evaluasi Pengaduan Tahunan > {{thn}}</h2>
                           </div>
                        </div>
                     </div>

                     <!-- Tabel Jumlah Pengaduan -->
                     <div class="row column1">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    
                                    Pilih Tahun
                                    <form action="/monev_pengaduan_tahunan" method="post">
                                       <select id="tahun" name="thn" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                          <!-- <option value="semua">Semua Tahun</option> -->
                                          <option value="2020">2020</option>
                                          <option value="2021">2021</option>
                                          <option value="2022">2022</option>
                                          <option value="2023">2023</option>
                                          <option value="2024">2024</option>
                                          <option value="2025" selected>2025</option>
                                       </select>
                                       <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Filter Laporan </button>
                                    </form>
                                    <br>
                                    <h4 class="blue1_color">Monev Pengaduan Tahun {{ thn }}</h4>   
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content" style="padding: 20px;">
                                          <div class="table_row table-responsive">
                                             <table id="myTable" class="table table-striped">
                                                <thead>
                                                   <th>Nomor</th>
                                                   <th>Bulan</th>
                                                   <th>Jumlah Pengaduan</th>
                                                   <th>Sumber Pengaduan</th>
                                                </thead>
                                                <tbody>
                                                   {% for index, i in data_bulan %}
                                                   <tr>
                                                       <td>{{ index }}</td>
                                                       <td>{{ nama_bulan[i.bln] }}</td>
                                                       <td>{{ i.count }}</td>
                                                       <td>
                                                           {% for x in data_sumber if x.bln == i.bln %}
                                                               {{ x.sumber_pengaduan }} ({{ x.count }});&nbsp;
                                                           {% endfor %}
                                                       </td>
                                                   </tr>
                                                   {% endfor %}
                                                   <tr>
                                                      <td>
                                                         
                                                      </td>
                                                      <td><h5>TOTAL</h5></td>
                                                      <td>
                                                         <h5>{{ total_pengaduan }}</h5>
                                                      </td>
                                                      <td>
                                                         {% for z in data_sumber_total %}
                                                            <b>{{ z.sumber_pengaduan }} : {{ z.count }}</b><br>
                                                         {% endfor %}
                                                      </td>
                                                   </tr>
                                               </tbody>                                               
                                             </table>
                                             <!--
                                             <a href="/download_tbl_01?thn={{thn}}" target="_blank"> <i class="fas fa-file-excel blue1_color"></i> Download</a>
                                             <a href="/download_laporan_pengaduan_bulanan?thn={{thn}}&bln={{bln}}" target="_blank"> <i class="fas fa-file-excel blue1_color"></i> Download</a>
                                             -->
                                             <button id="downloadBtn" class="btn btn-primary"><i class="fas fa-file-excel"></i> Download Table</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End of Tabel Jumlah Pengaduan -->
                     <br>
                     <!-- Tabel Status Pengaduan -->
                     <div class="row column2">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h4 class="blue1_color">Status Pengaduan Masyarakat Tahun {{ thn }}</h4>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content" style="padding: 20px;">
                                          <div class="table_row table-responsive">
                                             <table class="table table-striped">
                                                <thead>
                                                   <th>Nomor</th>
                                                   <th>Status Pengaduan</th>
                                                   <th style="text-align: right;">Jumlah</th>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>1</td>
                                                      <td>Selesai</td>
                                                      <td style="text-align: right;">
                                                         {{ data_status[0].jml }}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>2</td>
                                                      <td>Proses</td>
                                                      <td style="text-align: right;">
                                                         {{ data_status[1].jml }}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td>3</td>
                                                      <td>Tunda</td>
                                                      <td style="text-align: right;">
                                                         {{ data_status[2].jml }}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td></td>
                                                      <td><h5>TOTAL</h5></td>
                                                      <td style="text-align: right;">
                                                         <b>{{ data_status[0].jml + data_status[1].jml + data_status[2].jml }}</b>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End of Tabel Status Pengaduan -->
                     <br>
                     <!-- Tabel topik Pengaduan -->
                     <!--
                     <div class="row column2">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <i class="fas fa-document"></i> <h4>Topik Pengaduan Masyarakat {{ thn }}</h4>
                                 </div>
                              </div>
                              <div class="full graph_revenue">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="content" style="padding: 20px;">
                                          <div class="table_row table-responsive">
                                             <table class="table table-striped">
                                                <thead>
                                                   <th>Nomor</th>
                                                   <th>Bulan</th>
                                                   <th>Jumlah Pengaduan <br>Berdasarkan Topik</th>
                                                   <th>Topik Pengaduan</th>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td>1</td>
                                                      <td>Januari</td>
                                                      <td>
                                                         4
                                                      </td>
                                                      <td>
                                                         Pelayanan (2), Fasilitas (1), Komunikasi (1)
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->
                     <!-- End of Tabel topik Pengaduan -->

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{ url_for('static', filename='js_chart/chart_overview.js') }}"></script>
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>

      <script>
         document.getElementById('downloadBtn').addEventListener('click', function () {
            const table = document.getElementById('myTable');
            let csvContent = '';

            // Header CSV
            const headers = ['Nomor', 'Bulan', 'Jumlah Pengaduan', 'Sumber Pengaduan'];
            csvContent += headers.join(',') + '\n';

            // Ambil data dari tabel
            const rows = table.querySelectorAll('tbody tr:not(:last-child)'); // Kecualikan baris TOTAL
            rows.forEach(row => {
                  const cells = Array.from(row.cells);
                  const nomor = cells[0].textContent.trim();
                  const bulan = cells[1].textContent.trim();
                  const jumlahPengaduan = cells[2].textContent.trim();
                  const sumberPengaduan = cells[3].textContent.trim().replace(/\s+/g, ' '); // Hilangkan spasi ekstra
                  csvContent += `"${nomor}","${bulan}","${jumlahPengaduan}","${sumberPengaduan}"\n`;
            });

            // Baris Total
            const totalRow = table.querySelector('tbody tr:last-child');
            const totalJumlah = totalRow.querySelector('td:nth-child(3) h5').textContent.trim();
            const totalSumber = Array.from(totalRow.querySelectorAll('td:last-child b'))
                  .map(b => b.textContent.trim())
                  .join('; '); // Gabungkan total sumber
            csvContent += `"","TOTAL","${totalJumlah}","${totalSumber}"\n`;

            // Unduh file CSV
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.setAttribute('href', url);
            link.setAttribute('download', 'data_pengaduan.csv');
            link.style.display = 'none';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
         });
      </script>


      
   </body>
</html>