<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Data Pengaduan > {{ filter.thn }}</h2>
                           </div>
                        </div>
                     </div>

                     <!-- graph -->                      
                     <div class="row column2">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Pengaduan</h5>
                                 <i class="fas fa-search"></i> Filter pengaduan yang ingin ditampilkan <br><br>
                                 <form action="/pengaduan_lengkap" method="post">
                                    <table style="width: 100%; table-layout: fixed;">
                                       <tr>
                                             <td style="width: 10%;"></td>
                                             <td style="width: 30%;">Tahun </td>
                                             <td>
                                             <select id="tahun" name="tahun" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua Tahun</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025" selected>2025</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td>
                                                Topik Pengaduan
                                             </td>
                                             <td>
                                             <select id="topik" name="topik" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua Topik</option>
                                                <option value="pelayanan">Pelayanan</option>
                                                <option value="fasilitas">Fasilitas</option>
                                                <option value="administrasi">Administrasi</option>
                                                <option value="komunikasi">Komunikasi</option>
                                                <option value="umum">Umum</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td>
                                             Status Pengaduan
                                             </td>
                                             <td>
                                             <select id="status" name="status" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua</option>
                                                <option value="Selesai">Selesai</option>
                                                <option value="Proses">Dalam Proses</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                          <td>&nbsp;</td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td></td>
                                             <td>
                                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Filter Pengaduan </button>
                                             </td>
                                       </tr>
                                    </table>
                                 </form>

                              </div>
                           </div>
                        </div>                                                
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Topik Pengaduan</h5>
                                 <canvas id="topik-Pengaduan-Chart" style="height: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Masyarakat</h5>
                                 <canvas id="my-Sentiment-Review-Chart" style="margin-top: 10px;"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>                     
                     <!-- end graph -->

                     <!-- Card Status -->
                     <div class="row column1">
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-calendar blue2_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">{{ filter.thn }}</p>
                                    <p class="head_couter">Tahun</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-newspaper yellow_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">"{{ filter.topik }}"</p>
                                    <p class="head_couter">Topik</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-paper-plane blue1_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">"{{ filter.status }}"</p>
                                    <p class="head_couter">Status Pengaduan</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-cube red_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">{{ filter.count }}</p>
                                    <p class="head_couter">Jumlah Pengaduan</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Card Status -->

                     <!-- Testi Rows -->
                     <div class="row column3">                        
                        <!-- pengaduan -->
                        <div class="col-md-12">
                           <div class="dash_blog">
                              <div class="dash_blog_inner">
                                 <div class="list_cont">
                                    <p>Ulasan dengan topik dan sentimen</p>
                                 </div>
                                 <div class="msg_list_main">
                                    <ul class="msg_list">
                                       {% for group in data %}                                       
                                       <li>
                                          <span>
                                             {% if group.main_data.sumber == 'Whatsapp' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png" alt="#" width=48 />
                                             {% elif group.main_data.sumber == 'Instagram' %}
                                             <img src="https://cdn-icons-png.freepik.com/256/15789/15789364.png" alt="#" width=48>
                                             {% elif group.main_data.sumber == 'Website' or group.main_data.sumber == 'Form Pengaduan' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/235/235230.png" alt="#" width=48>
                                             {% elif group.main_data.sumber == 'Facebook' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" alt="#">
                                             {% elif group.main_data.sumber == 'Telegram' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="#">
                                             {% elif group.main_data.sumber == 'Tiktok' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/3621/3621450.png" alt="#">
                                             {% else %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/2959/2959936.png" alt="#">
                                             {% endif %}
                                          </span>
                                          <span>
                                          <span class="name_user">
                                             {{ group.main_data.nama }}
                                          </span>
                                          <p>Nomor Pengaduan : {{ group.main_data.pengaduan_id }} </p>
                                          <p>Sumber : <a href="{{ group.main_data.sumber }}" target="_blank">{{ group.main_data.sumber }} </a><br></p>                                          
                                          <span>
                                             
                                             {% for prediction in group.predicted_data %}
                                                {% if prediction.predicted_sentiment == 'positif' %}
                                                   <i class="fas fa-grin-hearts green_color"></i>
                                                {% elif prediction.predicted_sentiment == 'negatif' %}
                                                   <i class="fas fa-angry red_color"></i>
                                                {% else %}
                                                   <i class="fas fa-smile"></i>
                                                {% endif %}
                                                <b>{{ prediction.predicted_topic }}; </b>
                                                <!--
                                                {{ prediction.predicted_sentiment }}; <br>
                                                
                                                ({{ prediction.count | int }}) ;
                                                -->
                                             {% endfor %}
                                          </span>
                                          <p>{{ group.main_data.fixed_pengaduan }}</p>
                                          <span>
                                             {% for place in group.places_data %}
                                             <i class="fas fa-building"></i>
                                                <b>{{ place.places }}</b> ({{ place.places_count | int }}) ; 
                                             {% endfor %} 
                                             {% for person in group.persons_data %}
                                             <i class="fas fa-user"></i>
                                                <b>{{ person.persons }}</b> ({{ person.persons_count | int }}) ; 
                                             {% endfor %}
                                          </span>
                                          <p>STATUS
                                             {% if group.main_data.status_pengaduan == 'Selesai' %}
                                              <span class="white_color green_bg">&nbsp; PENGADUAN SELESAI &nbsp;</span>
                                             {% elif group.main_data.status_pengaduan == 'Proses' %}
                                              <span class="white_color orange_bg">&nbsp; PENGADUAN DALAM PROSES &nbsp;</span>
                                             {% else %}
                                              <span class="white_color red_bg">&nbsp; PENGADUAN DITOLAK &nbsp;</span>
                                             {% endif %}
                                          </p>
                                          <span class="time_ago">{{ group.main_data.tgl_pengaduan | humanize_date }}</span>
                                          </span>
                                       </li>
                                       {% endfor %}                                   
                                    </ul>
                                 </div> <!-- list-main -->
                                 <div class="read_more">
                                    <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                                 </div>
                              </div> <!-- dash-blog-inner -->
                           </div> <!-- dash-blog -->
                        </div> <!-- COL-MD-12 -->
                        <!-- end pengaduan -->
                     </div>
                     <!-- End Testi Rows -->

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
         // Variabel dari Jinja
         const thn = {{ filter.thn | tojson }}; 
         const topik = {{ filter.topik | tojson }};
         const status = {{ filter.status | tojson }};
         // URL endpoint sentimen
         // const url_status = `/chart_status_pengaduan_filter?thn=${encodeURIComponent(thn)}&topik=${encodeURIComponent(topik)}&sentimen=${encodeURIComponent(sentimen)}`;
         // URL endpoint topik
         const url_topik = `/chart_topik_pengaduan_filter?thn=${encodeURIComponent(thn)}&topik=${encodeURIComponent(topik)}`;
     </script>
     <script src="{{ url_for('static', filename='js_chart/chart_pengaduan_filtered.js') }}"></script>
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>