<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="/"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{ session['status'] }}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4><a href="/" class="yellow_color">DARA Dashboard</a></h4>
                  <ul class="list-unstyled components">                     
                     <li><a href="overview"><i class="fa fa-dashboard orange_color"></i> <span>Overview</span></a></li>
                     <li class="active">
                        <a href="#pengaduan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-commenting yellow_color"></i> <span>Pengaduan</span></a>
                        <ul class="collapse list-unstyled" id="pengaduan_page">
                           <li>
                              <a href="pengaduan">> <span>Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="persons_pengaduan">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places_pengaduan">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#ulasan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map blue1_color"></i> <span>Ulasan</span></a>
                        <ul class="collapse list-unstyled" id="ulasan_page">
                           <li>
                              <a href="filter_ulasan">> <span>Data Ulasan</span></a>
                           </li>
                           <li>
                              <a href="persons">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li> 
                        <a href="#laporan_interaktif"data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-line-chart yellow_color"></i> <span>Laporan Interaktif</span></a>
                        <ul class="collapse list-unstyled" id="laporan_interaktif">
                           <li>
                              <a href="analisis_topik_ulasan">> <span>Analisis Topik Ulasan</span></a>
                           </li>
                           <li>
                              <a href="monev_pengaduan_tahunan">> <span>Monev Pengaduan Tahunan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#manajemen_data" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-database purple_color2"></i> <span>Manajemen Data</span></a>
                        <ul class="collapse list-unstyled" id="manajemen_data">
                           <li>
                              <a href="entry_pengaduan">> <span>Entry Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="entry_ulasan">> <span>Entry Data Ulasan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#bantuan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond green_color"></i> <span>Bantuan</span></a>
                        <ul class="collapse list-unstyled" id="bantuan">
                           <li>
                              <a href="about">> <span>Tentang Kami</span></a>
                           </li>
                           <li>
                              <a href="dokumentasi">> <span>Dokumentasi</span></a>
                           </li>
                           <li>
                              <a href="faq">> <span>FAQ</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="settings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                     <li><a href="logout"><i class="fas fa-sign-out-alt red_color"></i> <span>Logout</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="/"><img class="img-responsive" src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!--
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              -->
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /><span class="name_user">{{ session['user'] }}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Ulasan > <a href="persons">Places</a> > "{{ place }}"</h2>
                           </div>
                        </div>
                     </div>

                     <!-- Card Status -->
                     <!--
                     <div class="row column1">
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-map blue2_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">3434</p>
                                    <p class="head_couter">Tahun</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-star yellow_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">3232</p>
                                    <p class="head_couter">Topik</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-commenting blue1_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">34343</p>
                                    <p class="head_couter">Sentimen</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-cube red_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">43434</p>
                                    <p class="head_couter">Jumlah Ulasan</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->

                     <!-- Social Media Card -->
                     <!--
                     <div class="row column1 social_media_section">
                        <div class="col-md-6 col-lg-3">
                           <div class="full socile_icons fb margin_bottom_30">
                              <div class="social_icon">
                                 <i class="fa fa-code"></i>
                              </div>
                              <div class="social_cont">
                                 <ul>
                                    <li>
                                       <span><strong>35k</strong></span>
                                       <span>Friends</span>
                                    </li>
                                    <li>
                                       <span><strong>128</strong></span>
                                       <span>Feeds</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full socile_icons tw margin_bottom_30">
                              <div class="social_icon">
                                 <i class="fa fa-twitter"></i>
                              </div>
                              <div class="social_cont">
                                 <ul>
                                    <li>
                                       <span><strong>584k</strong></span>
                                       <span>Followers</span>
                                    </li>
                                    <li>
                                       <span><strong>978</strong></span>
                                       <span>Tweets</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full socile_icons linked margin_bottom_30">
                              <div class="social_icon">
                                 <i class="fa fa-linkedin"></i>
                              </div>
                              <div class="social_cont">
                                 <ul>
                                    <li>
                                       <span><strong>758+</strong></span>
                                       <span>Contacts</span>
                                    </li>
                                    <li>
                                       <span><strong>365</strong></span>
                                       <span>Feeds</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full socile_icons google_p margin_bottom_30">
                              <div class="social_icon">
                                 <i class="fa fa-google-plus"></i>
                              </div>
                              <div class="social_cont">
                                 <ul>
                                    <li>
                                       <span><strong>450</strong></span>
                                       <span>Followers</span>
                                    </li>
                                    <li>
                                       <span><strong>57</strong></span>
                                       <span>Circles</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->

                     <!-- graph -->
                      <!--                      
                     <div class="row column2">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Ulasan</h5>
                                 <i class="fas fa-search"></i> Filter ulasan yang ingin ditampilkan <br><br>
                                 <form action="/ulasan_lengkap" method="post">
                                    <table style="width: 100%; table-layout: fixed;">
                                       <tr>
                                             <td style="width: 10%;"></td>
                                             <td style="width: 30%;">Tahun </td>
                                             <td>
                                             <select id="tahun" name="tahun" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua Tahun</option>
                                                <option value="2015">2015</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025" selected>2025</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td>
                                                Topik
                                             </td>
                                             <td>
                                             <select id="topik" name="topik" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua Topik</option>
                                                <option value="pelayanan">Pelayanan</option>
                                                <option value="fasilitas">Fasilitas</option>
                                                <option value="administrasi">Administrasi</option>
                                                <option value="komunikasi">Komunikasi</option>
                                                <option value="umum">Umum</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td>
                                             Sentimen
                                             </td>
                                             <td>
                                             <select id="sentimen" name="sentimen" class="border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                                                <option value="semua">Semua</option>
                                                <option value="positif">Positif</option>
                                                <option value="biasa">Netral</option>
                                                <option value="negatif">Negatif</option>
                                             </select>
                                             </td>
                                       </tr>
                                       <tr>
                                             <td></td>
                                             <td></td>
                                             <td>
                                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Filter Ulasan </button>
                                             </td>
                                       </tr>
                                    </table>
                                 </form>

                              </div>
                           </div>
                        </div>                                                
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Topik Ulasan</h5>
                                 <canvas id="my-Topic-Chart" style="height: 100%;"></canvas>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <div class="white_shd full margin_bottom_30">                              
                              <div class="map_section padding_infor_info">
                                 <h5>Sentimen Masyarakat</h5>
                                 <canvas id="my-Sentiment-Review-Chart" style="margin-top: 10px;"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>
                     -->                     
                     <!-- end graph -->
                     
                     <!-- Testi Rows -->
                     <div class="row column3">                        
                        <!-- pengaduan -->
                        <div class="col-md-12">
                           <div class="dash_blog">
                              <div class="dash_blog_inner">
                                 <div class="list_cont">
                                    <p>Ulasan yang berisi kata <b class="yellow_color">"{{ place }}"</b></p>
                                 </div>
                                 <div class="msg_list_main">
                                    <ul class="msg_list">
                                       {% for group in data %}                                       
                                       <li>
                                          <span>
                                             <img src="{{ url_for('static', filename='reviewer_thumbnail/' ~ group.main_data.reviewer_id ~ '.jpg') }}" alt="Thumbnail" width="48">
                                          </span>
                                          <span>
                                          <span class="name_user">
                                             {{ group.main_data.name }}
                                             {% if group.main_data.localGuide %}
                                                <i class="fas fa-check-square"></i>
                                             {% endif %}
                                          </span>
                                          <p>Reviewer ID : <a href="{{ group.main_data.link }}" target="_blank">{{ group.main_data.reviewer_id }} </a><br></p>
                                          <p>
                                             Rating :  
                                             {% for _ in range(group.main_data.rating) %}
                                                <i class="fas fa-star yellow_color"></i>
                                             <!-- loop topic dan sentimen -->
                                             {% endfor %}                                             
                                          </p>
                                          <span>
                                             Topik : 
                                             {% for prediction in group.topic %}
                                                {% if prediction.predicted_sentiment == 'positif' %}
                                                   <i class="fas fa-grin-hearts green_color"></i>
                                                {% elif prediction.predicted_sentiment == 'negatif' %}
                                                   <i class="fas fa-angry red_color"></i>
                                                {% else %}
                                                   <i class="fas fa-smile"></i>
                                                {% endif %}
                                                <b>{{ prediction.predicted_topic }}</b>
                                                {{ prediction.predicted_sentiment }};
                                                <!--
                                                ({{ prediction.count | int }}) ;
                                                -->
                                             {% endfor %}
                                             <br>
                                          </span>
                                          <p>{{ group.main_data.fixed_review | highlight_replace(place) |safe }}</p>
                                          <span>
                                             {% for place in group.places_data %}
                                             <i class="fas fa-building"></i>
                                                <b>{{ place.places }}</b> ({{ place.places_count | int }}) ; 
                                             {% endfor %}          
                                             {% for person in group.persons_data %}
                                             <i class="fas fa-user"></i>
                                                <b>{{ person.persons }}</b> ({{ person.persons_count | int }}) ; 
                                             {% endfor %}
                                          </span>
                                          <span class="time_ago">{{ group.main_data.tgl_ulasan | humanize_date }}</span>
                                          </span>
                                       </li>
                                       {% endfor %}                                   
                                    </ul>
                                 </div> <!-- list-main -->
                                 <div class="read_more">
                                    <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                                 </div>
                              </div> <!-- dash-blog-inner -->
                           </div> <!-- dash-blog -->
                        </div> <!-- COL-MD-12 -->
                        <!-- end pengaduan -->
                     </div>
                     <!-- End Testi Rows -->

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>