<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Pengaduan > <a href="places_pengaduan">Place</a> > "{{ place }}"</h2>
                           </div>
                        </div>
                     </div>

                                          
                     <!-- Testi Rows -->
                     <div class="row column3">                        
                        <!-- pengaduan -->
                        <div class="col-md-12">
                           <div class="dash_blog">
                              <div class="dash_blog_inner">
                                 <div class="list_cont">
                                    <p>Pengaduan yang berisi kata <b class="yellow_color">"{{ place }}"</b></p>
                                 </div>
                                 <div class="msg_list_main">
                                    <ul class="msg_list">
                                       {% for group in data %}                                       
                                       <li>
                                          <span>
                                             {% if group.main_data.sumber_pengaduan == 'Whatsapp' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png" alt="#" width=48 />
                                             {% elif group.main_data.sumber_pengaduan == 'Instagram' %}
                                             <img src="https://cdn-icons-png.freepik.com/256/15789/15789364.png" alt="#" width=48>
                                             {% elif group.main_data.sumber_pengaduan == 'Website' or group.main_data.sumber == 'Form Pengaduan' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/235/235230.png" alt="#" width=48>
                                             {% elif group.main_data.sumber_pengaduan == 'Facebook' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" alt="#">
                                             {% elif group.main_data.sumber_pengaduan == 'Telegram' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="#">
                                             {% elif group.main_data.sumber_pengaduan == 'Tiktok' %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/3621/3621450.png" alt="#">
                                             {% else %}
                                             <img src="https://cdn-icons-png.flaticon.com/512/2959/2959936.png" alt="#">
                                             {% endif %}
                                          </span>
                                          <span>
                                          <span class="name_user">
                                             {{ group.main_data.nama }}
                                          </span>
                                          <p>Sumber : {{group.main_data.sumber_pengaduan}} </p>                                          
                                          <span>
                                             {% for prediction in group.topic %}
                                                {% if prediction.predicted_sentiment == 'positif' %}
                                                   <i class="fas fa-grin-hearts green_color"></i>
                                                {% elif prediction.predicted_sentiment == 'negatif' %}
                                                   <i class="fas fa-angry red_color"></i>
                                                {% else %}
                                                   <i class="fas fa-smile"></i>
                                                {% endif %}
                                                <b>{{ prediction.predicted_topic }}; </b>
                                                <!--
                                                {{ prediction.predicted_sentiment }};
                                                
                                                ({{ prediction.count | int }}) ;
                                                -->
                                             {% endfor %}                                             
                                          </span>
                                          <p>{{ group.main_data.fixed_pengaduan | highlight_replace(place) |safe }}</p>
                                          <!--
                                          <span>
                                             {% for place in group.places_data %}
                                             <i class="fas fa-building"></i>
                                                <b>{{ place.places }}</b> ({{ place.places_count | int }}) ; 
                                             {% endfor %} 
                                             {% for person in group.persons_data %}
                                             <i class="fas fa-user"></i>
                                                <b>{{ person.persons }}</b> ({{ person.persons_count | int }}) ; 
                                             {% endfor %}
                                          </span>
                                          -->
                                          <p>
                                             {% if group.main_data.status_pengaduan == 'Selesai' %}
                                              <span class="white_color green_bg">&nbsp; PENGADUAN SELESAI &nbsp;</span>
                                             {% elif group.main_data.status_pengaduan == 'Proses' %}
                                              <span class="white_color yellow_bg"> &nbsp;PENGADUAN DALAM PROSES &nbsp;</span>
                                             {% else %}
                                              <span class="white_color red_bg"> &nbsp; PENGADUAN DITOLAK &nbsp;</span>
                                             {% endif %}
                                          </p>
                                          <span class="time_ago">{{ group.main_data.tgl_pengaduan | humanize_date }}</span>
                                          </span>
                                       </li>
                                       {% endfor %}                                   
                                    </ul>
                                 </div> <!-- list-main -->
                                 <div class="read_more">
                                    <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                                 </div>
                              </div> <!-- dash-blog-inner -->
                           </div> <!-- dash-blog -->
                        </div> <!-- COL-MD-12 -->
                        <!-- end pengaduan -->
                     </div>
                     <!-- End Testi Rows -->

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>