<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DARA - Dashboard Analisis Respons dan Aspirasi</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <!-- site icon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            {% include 'sidebar.html' %}
            <!-- end sidebar -->

            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               {% include 'topbar.html' %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <!-- title -->
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>DARA Dashboard > Settings > Data Latih</h2>
                           </div>
                        </div>
                     </div>
                     <!-- end title -->

                     <div class="row column1">
                        <div class="col-md-4">
                           <div class="white_shd full margin_bottom_10">
                              <div class="full graph_head">
                                 <h4 class="green_color"><i class="fas fa-database"></i> Komposisi Data Latih</h4>
                              </div>
                              <div style="margin: 20px;">
                                 {% for datas in data_latih2 %}
                                 <span class="skill" style="width:100%;">{{ datas.jenis }} <span class="info_valume">{{ datas.persen }}%</span></span>                  
                                 <div class="progress skill-bar ">
                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="{{datas.persen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{datas.persen}}%;"></div>
                                 </div>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>

                        <div class="col-md-4">
                           <div class="white_shd full margin_bottom_10">
                              <div class="full graph_head">
                                 <h4 class="purple_color2">Topik</h4>
                              </div>
                              <div style="margin: 20px;">
                                 {% for data in data_latih %}
                                 <span class="skill" style="width:100%;">{{ data.topic }} <span class="info_valume">{{ data.persen }}%</span></span>                  
                                 <div class="progress skill-bar ">
                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="{{data.persen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.persen}}%;"></div>
                                 </div>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>

                        <div class="col-md-4">
                           <div class="white_shd full margin_bottom_10">
                              <div class="full graph_head">
                                 <h4 class="yellow_color">Sentimen</h4>
                              </div>
                              <div style="margin: 20px;">
                                 {% for data in data_latih3 %}
                                 <span class="skill" style="width:100%;">{{ data.sentimen }} <span class="info_valume">{{ data.persen }}%</span></span>                  
                                 <div class="progress skill-bar ">
                                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="{{data.persen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.persen}}%;"></div>
                                 </div>
                                 {% endfor %}
                              </div>                              
                           </div>   
                        </div>

                     </div>
                        <!-- end of row 1 -->

                  </div> 
                  <!-- end container-fluid -->

                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Dashboard Analisis Respons dan Aspirasi (DARA) <br>
                        Copyright © 2025 by DARA TEAM. All rights reserved. </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      
      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <!-- 
      <script src="{{ url_for('static', filename='js_chart/chart_overview.js') }}"></script>
      -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
   
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
      
   </body>
</html>