<!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="/"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{ session['status'] }}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4><a href="/" class="yellow_color">DARA Dashboard</a></h4>
                  <ul class="list-unstyled components">                     
                     <li><a href="overview"><i class="fa fa-dashboard orange_color"></i> <span>Overview</span></a></li>
                     <li class="active">
                        <a href="#pengaduan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-commenting yellow_color"></i> <span>Pengaduan</span></a>
                        <ul class="collapse list-unstyled" id="pengaduan_page">
                           <li>
                              <a href="pengaduan">> <span>Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="persons_pengaduan">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places_pengaduan">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#ulasan_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map blue1_color"></i> <span>Ulasan</span></a>
                        <ul class="collapse list-unstyled" id="ulasan_page">
                           <li>
                              <a href="filter_ulasan">> <span>Data Ulasan</span></a>
                           </li>
                           <li>
                              <a href="persons">> <span>Persons</span></a>
                           </li>
                           <li>
                              <a href="places">> <span>Places</span></a>
                           </li>
                        </ul>
                     </li>
                     <li> 
                        <a href="#laporan_interaktif"data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-line-chart yellow_color"></i> <span>Laporan Interaktif</span></a>
                        <ul class="collapse list-unstyled" id="laporan_interaktif">
                           <li>
                              <a href="laporan_pengaduan_bulanan">> <span>Laporan Pengaduan Bulanan</span></a>
                           </li>
                           <li>
                              <a href="monev_pengaduan_tahunan">> <span>Monev Pengaduan Tahunan</span></a>
                           </li>
                           <li>
                              <a href="analisis_topik_ulasan">> <span>Analisis Topik Ulasan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#manajemen_data" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-database purple_color2"></i> <span>Manajemen Data</span></a>
                        <ul class="collapse list-unstyled" id="manajemen_data">
                           <li>
                              <a href="entry_pengaduan">> <span>Entry Data Pengaduan</span></a>
                           </li>
                           <li>
                              <a href="entry_ulasan">> <span>Entry Data Ulasan</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#bantuan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond green_color"></i> <span>Bantuan</span></a>
                        <ul class="collapse list-unstyled" id="bantuan">
                           <li>
                              <a href="about">> <span>Tentang Kami</span></a>
                           </li>
                           <li>
                              <a href="dokumentasi">> <span>Dokumentasi</span></a>
                           </li>
                           <li>
                              <a href="faq">> <span>FAQ</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="settings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                     <li><a href="logout"><i class="fas fa-sign-out-alt red_color"></i> <span>Logout</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->